.search-container{
    flex: auto;
    justify-content: center;
    text-align: center;
    background-color: rgb(86, 86, 209);
    margin:50px;
    padding:25px;
}

.display-container{
    flex: auto;
    justify-content: center;
    text-align: center;
    background-color: rgb(86, 86, 209);
    margin:50px;
    padding:25px;
    
}

.display{


    background-color: aqua;
}

.city-name {



}

.container {
    background-color: black;
}